---
# tasks file for rls.unbound

- name: debug dnsbl_lists
  ansible.builtin.debug:
    var: dnsbl_lists
- name: debug dnsbl_lists length
  ansible.builtin.debug:
    msg: "{{ dnsbl_lists | length }}"
- name: debug dnsbl_lists length bool
  ansible.builtin.debug:
    msg: "{{ dnsbl_lists | length > 0 }}"

- name: install unbound packages
  ansible.builtin.apt:
    name: "{{ unbound_packages }}"
    update_cache: true

- name: remove system config files
  ansible.builtin.file:
    path: "{{ unbound_cfg_dir_incl }}/{{ item }}"
    state: absent
  with_items: "{{ unbound_remove_files_incl }}"
  notify: "restart unbound"

- name: main config file for unbound
  ansible.builtin.copy:
    src: unbound.conf
    dest: "{{ unbound_cfg_file_main }}"
    state: file
    owner: root
    group: root
    mode: '0644'
  notify: "restart unbound"

- name: config unbound
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "{{ unbound_cfg_dir_incl }}/{{ item }}"
    owner: root
    group: root
    mode: '0644'
    validate: /usr/sbin/unbound-checkconf %s
  with_items: "{{ unbound_cfg_templates_incl }}"
  notify: "restart unbound"

- name: dnsbl
  block:
    - name: install packages required for dnsbl
      ansible.builtin.apt:
        name: "{{ unbound_packages_dnsbl }}"
    - name: copy dnsbl collect script
      ansible.builtin.template:
        src: unbound-dnsbl-updater.py.j2
        dest: "{{ unbound_cfg_dir_main }}/unbound-dnsbl-updater.py"
        mode: '0700'
        owner: root
        group: root
    - name: "run {{ unbound_cfg_dir_main }}/unbound-dnsbl-updater.py"
      ansible.builtin.command: "{{ unbound_cfg_dir_main }}/unbound-dnsbl-updater.py -s -l INFO"
      args:
        creates: "{{ unbound_cfg_dir_incl }}/dnsbl.conf"
      notify: "restart unbound"
    - name: register dnsblupdater cronjob
      ansible.builtin.cron:
        name: unbounddnsblupdater
        cron_file: unbounddnsblupdater
        minute: "{{ dnsbl_cron_minute }}"
        hour: "{{ dnsbl_cron_hour }}"
        day: "{{ dnsbl_cron_day | default(omit) }}"
        weekday: "{{ dnsbl_cron_weekday | default(omit) }}"
        user: root
        job: "{{ unbound_cfg_dir_main }}/unbound-dnsbl-updater.py -s -l INFO{{ dnsbl_cron_shell_redirect | default('') }}"
        state: "{{ 'present' if dnsbl_update_cron else 'absent' }}"
      when:
        - not lookup('env', 'MOLECULE_FILE')
  when: dnsbl_lists | length > 0

- name: demote dnsbl
  block:
    - name: un-register dnsblupdater cronjob
      ansible.builtin.cron:
        name: unbounddnsblupdater
        cron_file: unbounddnsblupdater
        state: absent
      when:
        - not lookup('env', 'MOLECULE_FILE')
    - name: remove {{ unbound_cfg_dir_incl }}/dnsbl.conf
      ansible.builtin.file:
        path: "{{ unbound_cfg_dir_incl }}/dnsbl.conf"
        state: absent
      notify: "restart unbound"
  when: not dnsbl_lists
