#jinja2: lstrip_blocks: True
# {{ ansible_managed }}

# main server config file for unbound

{% for section, sectionconfig in undbound_config.items() | list %}
{% if sectionconfig %}
{% if sectionconfig is iterable and not sectionconfig is mapping %}
{# assumes this is a section with multiple entires aka. list of dicts #}
{% for sectionconfiglistpart in sectionconfig %}
{{ section }}:
{% for k, v in sectionconfiglistpart.items() | list %}
	{% if v is string %}
	{{ k }}: {{ v }}
	{% elif v is iterable %}
	{% for le in v %}
	{{ k }}: {{ le }}
	{% endfor -%}
	{% endif -%}
{% endfor -%} {# end for k, v in sectionconfiglistpart.items() #}
{% endfor -%} {# end for sectionconfiglistpart in sectionconfig #}
{% else -%} {# assumes this is simple section i.e. a dict of config options #}
{{ section }}:
{% for k, v in sectionconfig.items() | list %}
	{% if v is string %}
	{{ k }}: {{ v }}
	{% elif v is iterable %}
	{% for le in v %}
	{{ k }}: {{ le }}
	{% endfor -%}
	{% endif -%}
{% endfor -%} {# end for k, v in sectionconfig.items() #}
{% endif -%} {# end sectionconfig is iterable and not sectionconfig is mapping #}

{% endif -%} {# end if sectionconfig #}
{% endfor -%} {# end for section, sectionconfig is undbound_config.items() #}
