# {{ ansible_managed }}
#
# DNS Rebinding
# For DNS Rebinding prevention
# All these addresses are either private or
# should not be routable in the global IPv4 or IPv6 internet.
# https://datatracker.ietf.org/doc/html/rfc5735 etc.

server:
# IPv4 Addresses
private-address: 0.0.0.0/8       # Broadcast address
private-address: 10.0.0.0/8      # private networks
private-address: 100.64.0.0/10   # IETF protocol assignments
private-address: 127.0.0.0/8     # loopback localhost
private-address: 169.254.0.0/16  # link local
private-address: 172.16.0.0/12   # private networks
private-address: 192.0.0.0/24    # IETF protocol assignments
private-address: 192.0.2.0/24    # TEST-NET-1
private-address: 192.168.0.0/16  # private networks
private-address: 192.88.99.0/24  # 6to4 relay
private-address: 198.18.0.0/15   # testing inter-network communications
private-address: 198.51.100.0/24 # TEST-NET-2
private-address: 203.0.113.0/24  # TEST-NET-3
private-address: 233.252.0.0/24  # MCAST-TEST-NET

# IPv6 Addresses
private-address: ::1/128         # Loopback Localhost
private-address: 2001:db8::/32   # Documentation network IPv6
private-address: fc00::/8        # Unique local address (ULA) part of "fc00::/7", not defined yet
private-address: fd00::/8        # Unique local address (ULA) part of "fc00::/7", "/48" prefix group
private-address: fe80::/10       # Link-local address (LLA)
