---
name: molecule test
on:
  pull_request:
  push:
  schedule:
    - cron: "10 6 * * 1"
jobs:
  molecule:
    name: ansible
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ansible:
          #- latest13
          #- latest12
          - latest11
          #- pinned
          - legacy
        distro:
          - debian11
          - debian12
          - debian13
        moleculescenario:
          - default
          - redirect
        include:
          #- ansible: latest13
          #  pip3deps: 'dnspython "ansible>=13" molecule "molecule-plugins[docker]" yamllint ansible-lint requests==2.32.4'
          #  pythonversion: 3.13.5
          #- ansible: latest12
          #  pip3deps: 'dnspython "ansible>=12,<13" molecule "molecule-plugins[docker]" yamllint ansible-lint requests==2.32.4'
          #  pythonversion: 3.13.5
          - ansible: latest11
            pip3deps: 'dnspython "ansible>=11,<12" molecule "molecule-plugins[docker]" yamllint ansible-lint requests==2.32.4'
            pythonversion: 3.13.5
          #- ansible: pinned
          #  pip3deps: 'dnspython "ansible==8.6.0" "molecule-plugins[docker]" "yamllint==1.32.0" "ansible-lint==6.22.0"'
          #  pythonversion: 3.9
          - ansible: legacy
            pip3deps: 'dnspython "ansible==2.9.27" "molecule[docker,lint]==3.2.3" "yamllint==1.24.2" "ansible-lint==4.2.0" "requests<2.29" "urllib3<2"'
            pythonversion: 3.9
    steps:
      - uses: actions/checkout@v4
        with:
          path: 'rls.unbound'

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{matrix.pythonversion }}

      - name: Install test dependencies.
        run: pip3 install ${{ matrix.pip3deps }}

      - name: Install collections required on ansible 2.9
        run: ansible-galaxy collection install community.general
        if: ${{ matrix.ansible == 'legacy' }}

      - name: debug ansible version
        run: ansible --version

      - name: run molecule tests
        run: molecule test --scenario-name ${{ matrix.moleculescenario }}
        working-directory: rls.unbound
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          molecule_skip_rebuild_all: true
          MOLECULE_DISTRO: ${{ matrix.distro }}
