---
name: pylint
on:
  pull_request:
  push:
  schedule:
    - cron: "25 6 * * 1"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          path: 'rls.unbound'

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install test dependencies.
        run: pip3 install dnspython ansible typing-extensions==4.11.0 molecule docker==7.0.0 "molecule-plugins[docker]" yamllint ansible-lint

      - name: run molecule converge
        run: molecule converge
        working-directory: rls.unbound
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          fetch_dnsbl_updater: true

      - name: install pylint
        run: |
          python -m pip install --upgrade pip
          pip install pylint==2.7.2 pyyaml lockfile

      - name: run pylint
        run: |
          pylint /tmp/unbound-dnsbl-updater.py
